<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
       <fieldset>
           <input type="text" name="name">
           <label for="name"> Name </label>
       </fieldset>

       <fieldset>
            <input type="password" name="password">
            <label for="password"> Password </label>
        </fieldset>
        <button type="submit"> Log In </button>
    </form>
</body>
</html>